<div class="row workout">
  <div class="col-xs-10 pull-left">
    <h3>{{ workout.name }}&nbsp;
    <br class="visible-xs"/>
    <small>posted by {{ workout.user.name }}, {{ workout.createdAt }}</small></h3>
  </div>

  <div class="col-xs-2 pull-right text-right title_buttons">
    <div class="btn-group" ng-if="currentUserOwnsThis(workout)">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span class="fa fa-caret-down"></span></button>
      <ul class="dropdown-menu pull-right text-left" role="menu">
        <li><a ng-click="edit()">Edit</a></li>
        <li><a ng-click="delete()">Delete</a></li>
      </ul>
    </div>
  </div>

  <div class="col-xs-12" ng-bind-html="workout.htmlDescription"></div>

  <!-- Comments & Results -->
  <div class="comments col-xs-12">
    <ul class="nav nav-tabs">
      <li ng-class="{active: showComments}">
        <a ng-click="showComments = true">Comments <span class="badge">{{ (workout.comments | filter:{is_result:false}).length }}</span></a>
      </li>
      <li ng-class="{active: !showComments}">
        <a ng-click="showComments = false">Results <span class="badge">{{ (workout.comments | filter:{is_result:true}).length }}</span></a>
      </li>
    </ul>
    
    <!-- Comments -->
    <div class="comment_list row">
      <div class="comment col-xs-12" ng-repeat="comment in workout.comments | filter:{is_result:!showComments}">
        <em class="pull-left">{{ comment.user.name }} -&nbsp;</em>
        <div class="pull-left" ng-bind-html="comment.htmlBody"></div>
        <div class="pull-right controls" ng-if="currentUser.id === comment.user.id">
          <span class="fa fa-times-circle fa-lg" ng-click="deleteComment(comment)"></span>
        </div>
      </div>
    </div>

    <button ng-if="currentUser" type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_comment">{{ (showComments) ? "Add comment" : "Add your results" }}</button>

    <!-- Add Comment Modal -->
    <div ng-if="currentUser" id="add_comment" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{ (showComments) ? "Add comment" : "Add your results" }}</h4>
          </div>

          <div class="modal-body">
            <form novalidate>
              <input type="hidden" ng-model="workout.comment.is_result" />
              <div class="form-group">
                <textarea id="comment_body" ng-model="workout.comment.body" class="form-control" rows="4" placeholder="{{ (showComments) ? 'Add comment' : 'Add your results' }}" autofocus></textarea>
              </div>
              <button class="btn btn-primary" type="submit" ng-click="addComment()">Save</button>
            </form>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
