$color1: #5A6771;     // gray
$color2: #00ADD9;     // blue
$color3: #B52172;     // pink

body {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
}

.btn.btn-primary {
  background-color: $color2;
  border-color: $color2;
}

.flash_messages {
  p {
    margin: 0;
    padding: 0;

    &.notice,
    &.alert {
      border-width: 0;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $color3;
}

label small {
  font-weight: normal;
  color: #999;
}

a {
  color: $color2;

  &:hover {
    color: $color2;
  }
}
